.login{
    width: 300px;
    height: 400px;
    margin: auto;
    background-color: antiquewhite;
}
form{
    padding: 30px;
    font-size: 22px;
}
input{
    width: 230px;
    font-size: 15px;
}
button{
    width: 100px;
    height: 30px;
    margin-left: 10px;
    font-size: 17px;
    background-color: rgb(129, 95, 232);
    border-radius: 20px;
}